# Build output
*.exe
*.out
*.obj
*.o
*.a
*.lib
*.dll
*.pdb
*.ilk
*.exp

# Build folders
build/
bin/
out/

# Temp / logs
*.log
*.tmp
*.cache

# IDE / OS
.vscode/
.idea/
*.user
*.suo
.DS_Store
Thumbs.db
